* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
    font-size: 10;
    line-height: 1.6;
    
    color: white;
}
   
h1 {
    font-size: 40px;
    padding-top: 24px;
    color: #323232;
    margin-bottom: 24px;
}
.item.active{
    margin-left: 24px;
}
.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 24px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 1 1 1 1 black;
    
}
    
.item {
    margin-right:96px;
    padding: 10px;
    text-align: center;
    padding-left: 15px;
    color: white;
    text-decoration: none;
}
.item.active {
    background-color: #3a3a3a; 
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.panel {
  background-color: #545454;
    display: flex;    
}
.wrapper {
    display: flex;
    margin-top: 24px;
    
}
.content {
    flex: 1 1 auto;
    margin-left: 48px;
    
}
.leftpanel {
    font-size: 13px;
    border: 1px solid;
    color: #656363;
    width: 240px;
    padding: 10px;
}
.leftmenu {
      
}
.photo {
    border: 1px solid grey;
    padding: 63px;
    width: 100%;
}
.text {
    color: black;
    font-size: 10px;
    margin-right: 0em;
    font-size: 13.4px;
    width: 100%;
   padding: 20px; 
}

.paneli {
  background-color: #e1e1e1;
    display: flex; 
    justify-content:space-between;
}

.itemi {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    color: black;
}
.itemi.active {
    text-decoration: underline;
}
.reserved {
    
    font-size:14px; 
    color:black;
    text-decoration: none;
    padding: 10px;
    
}